:root {
  --ff-primary: 'Lora';
  --ff-secondary: 'Ubuntu';

  --clr-one: #f8f8f8;
  --clr-two: #707070;
  --clr-three: #1792d2;
  --clr-four: #143774;

  --fs-h1: 3.375rem;
}
header {
  text-align: center;
}

nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
}

nav li {
  margin: 0 1em;
}

nav a {
}

nav a:hover {
}
