:root {
  --ff-primary: 'Lora';
  --ff-secondary: 'Ubuntu';

  --clr-one: #f8f8f8;
  --clr-two: #707070;
  --clr-three: #1792d2;
  --clr-four: #143774;

  --fs-h1: 3.375rem;
}

body {
  margin: 0;
  font-family: var(--ff-secondary);
}

h1 {
  font-family: var(--ff-primary);
  font-weight: 400;
  color: var(--clr-four);
  font-size: 2rem;
  margin: 0;
}

.subtitle {
  font-weight: 700;
  color: var(--clr-three);
  font-size: 0.75rem;
  margin: 0;
}

header {
  text-align: center;
  background: var(--clr-one);
  padding: 2em 0;
}

nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
}

nav li {
  margin: 0 1em;
}

nav a {
  text-decoration: none;
  color: var(--clr-two);
  font-weight: 700;
  padding: 0.25em 0;
}

nav a:hover,
nav a:focus {
  color: var(--clr-three);
}

.current-page {
  border-bottom: 1px solid var(--clr-two);
}

.current-page:hover {
  color: var(--clr-two);
}
